<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>A Pathway to Equality and Sustainable Development</title>
    <meta name="description" content="Gender equality is not only a fundamental human right but also a necessary foundation for a peaceful, prosperous, and sustainable world. SDG 5 aims to achieve gender equality and empower all women and girls. While there has been significant progress in areas like girls’ access to education and women’s participation in leadership, gender inequality persists globally—in both public and private spheres.">
    <meta property="og:image" content="../assets/img/articles/equality1.jpg">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Afacad&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Afacad+Flux&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almarai&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amaranth&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiri&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiri+Quran&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Average&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Average+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chela+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chelsea+Market&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant+Infant&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Pro&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text&amp;display=swap">
    <link rel="stylesheet" href="../assets/css/Animated-Type-Heading.css">
    <link rel="stylesheet" href="../assets/css/baguetteBox.min.css">
    <link rel="stylesheet" href="../assets/css/Custom-Upload-File.css">
    <link rel="stylesheet" href="../assets/css/Data-Table-styles.css">
    <link rel="stylesheet" href="../assets/css/Data-Table.css">
    <link rel="stylesheet" href="../assets/css/Drag--Drop-Upload-Form.css">
    <link rel="stylesheet" href="../assets/css/Drag-Drop-File-Input-Upload.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="../assets/css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css">
    <link rel="stylesheet" href="../assets/css/Table-With-Search-search-table.css">
    <link rel="stylesheet" href="../assets/css/Table-With-Search.css">
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top bg-success shadow-sm py-md-3" style="--bs-warning: #ffd024;--bs-warning-rgb: 255,208,36;--bs-success: #0165a4;--bs-success-rgb: 1,101,164;">
        <div class="container"><img src="../assets/img/LIPJPHKI.png" width="383" height="52" class="ms-lg-0 me-lg-0 ps-lg-0"><a class="navbar-brand" href="#"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-warning ms-lg-0 ps-lg-0" id="navcol-1" style="font-family: 'Inter';font-size: 16px;color: rgb(255,255,255);">
                <ul class="navbar-nav mx-auto ps-lg-0" style="color: rgb(255,255,255);font-size: 16px;">
                    <li class="nav-item"><a class="nav-link active me-lg-5 ms-lg-5" href="/" style="color: rgb(255,255,255);">Home</a></li>
                    <li class="nav-item"><a class="nav-link active ms-lg-5 me-lg-5" href="/article" style="color: rgb(255,255,255);">Article</a></li>
                    <li class="nav-item"><a class="nav-link active ms-lg-5 me-lg-5" href="/about" style="color: rgb(255,255,255);">About Us</a></li>
                </ul>
                <a class="btn btn-primary fw-normal lh-1 bg-light border rounded-pill"
                    role="button"
                    style="background: rgb(3,99,161);--bs-success: #0165a4;--bs-success-rgb: 1,101,164;font-family: 'Inter';color: rgb(1,101,164);font-size: 16px;"
                    href="{{ request.url_for('login_form') }}">Login
                </a>
            </div>
        </div>
    </nav>
    <section class="py-5" style="font-family: 'Inter';">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5"><small><time datetime="2025-06-02">Jun 2, 2025</time></small>
                        <h1 class="my-4" style="font-size: 36px;">A Pathway to Equality and Sustainable Development</h1>
                        <p class="mb-4" style="text-align: justify;">Gender equality is not only a fundamental human right but also a necessary foundation for a peaceful, prosperous, and sustainable world. SDG 5 aims to achieve gender equality and empower all women and girls. While there has been significant progress in areas like girls’ access to education and women’s participation in leadership, gender inequality persists globally—in both public and private spheres.</p><img class="img-fluid" src="../assets/img/articles/equality1.jpg">
                    </div>
                    <div>
                        <p style="text-align: justify;">Women around the world face discrimination, limited access to resources, unequal pay, and violence simply because of their gender. These challenges are often amplified for those in rural or low-income communities. Closing the gender gap requires dismantling systemic barriers and rethinking social norms that restrict opportunities for half the world’s population.</p>
                        <figure class="my-4" style="text-align: center;">
                            <blockquote class="blockquote">
                                <p class="mb-0" style="font-size: 18px;font-style: italic;">"There is no tool for development more effective than the empowerment of women."</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">Kofi Annan</figcaption>
                        </figure>
                        <p style="text-align: justify;">SDG 5 sets ambitious targets to eliminate violence against women, ensure universal access to reproductive health, promote shared domestic responsibility, and guarantee women’s full participation in decision-making processes. Legal reforms and social protections must go hand-in-hand with educational and economic empowerment to create real, lasting change.<br><br>Promoting gender equality isn’t just the right thing to do—it’s smart policy. Societies that empower women tend to be more economically stable and socially cohesive. Empowered women raise healthier families, contribute meaningfully to their communities, and play critical roles in driving innovation and peacebuilding efforts.<br><br>Gender equality is not a women’s issue—it’s a human issue. Achieving SDG 5 means creating a world where everyone, regardless of gender, has the freedom, dignity, and opportunities to thrive.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="position-sticky" style="top: 6rem;">
                        <div class="p-4">
                            <h4 class="fs-5 fst-italic"><span style="font-style: normal !important;">Latest Posts</span></h4>
                            <div data-bss-type="blog-loop" data-bss-perpage="3">
                                <div class="row row-cols-1" data-bss-type="blog-loop-base">
                                    <div class="col" data-bss-type="blog-loop-item"><a class="link-body-emphasis d-flex flex-column align-items-start flex-lg-row align-items-lg-center gap-3 py-3 text-decoration-none border-top" href="article-1.html"><img class="img-fluid" width="130" height="87" src="../assets/img/articles/class.jpg">
                                            <div class="flex-shrink-1 col-lg-8">
                                                <h5 style="font-size: 17px;">Education for All: The Foundation of Sustainable Development</h5><small><time class="text-muted" datetime="2025-06-02">Jun 02, 2025</time></small>
                                            </div>
                                        </a></div>
                                    <div class="col" data-bss-type="blog-loop-item"><a class="link-body-emphasis d-flex flex-column align-items-start flex-lg-row align-items-lg-center gap-3 py-3 text-decoration-none border-top" href="article-2.html"><img class="img-fluid" width="130" height="87" src="../assets/img/articles/kincir.jpg">
                                            <div class="flex-shrink-1 col-lg-8">
                                                <h5 style="font-size: 17px;">Confronting Climate Change: A Global Call for Urgent Action</h5><small><time class="text-muted" datetime="2025-06-02">Jun 02, 2025</time></small>
                                            </div>
                                        </a></div>
                                    <div class="col" data-bss-type="blog-loop-item"><a class="link-body-emphasis d-flex flex-column align-items-start flex-lg-row align-items-lg-center gap-3 py-3 text-decoration-none border-top" href="article-4.html"><img class="img-fluid" width="130" height="87" src="../assets/img/articles/waterfall.jpg">
                                            <div class="flex-shrink-1 col-lg-8">
                                                <h5 style="font-size: 17px;">Ensuring Access to Clean Water and Sanitation</h5><small><time class="text-muted" datetime="2025-06-02">Jun 02, 2025</time></small>
                                            </div>
                                        </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center bg-success" style="background: rgb(0,85,255);--bs-success: #0165a4;--bs-success-rgb: 1,101,164;">
        <div class="container py-4 py-lg-5"><img src="../assets/img/LIPJPHKI.png" width="368" height="50" class="pb-lg-0 mb-lg-4">
            <p class="lead pb-lg-0 mb-lg-2" style="font-size: 12px;color: rgb(255,255,255);font-family: 'Inter';"> Lembaga Inovasi, Pengembangan Jurnal, Penerbitan, dan Hak Kekayaan Intelektual</p>
            <p class="lead pb-lg-0 mb-lg-2" style="font-size: 12px;color: rgb(255,255,255);font-family: 'Inter';"> Copyright © 2025 LIPJPHKI</p>
            <ul class="list-inline" style="color: rgb(248,248,248);">
                <li class="list-inline-item"><a class="link-body-emphasis" href="https://x.com/lipjphkiunair?lang=en"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-brand-x" style="color: rgb(255,255,255);">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
                            <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
                        </svg></a></li>
                <li class="list-inline-item"><a class="link-body-emphasis" href="https://www.instagram.com/lipjphkiunair/"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-brand-instagram" style="color: rgb(255,255,255);">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
                            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                            <path d="M16.5 7.5l0 .01"></path>
                        </svg></a></li>
                <li class="list-inline-item"><a class="link-body-emphasis" href="https://www.youtube.com/@LIPJPHKIUNAIR"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-brand-youtube" style="color: rgb(255,255,255);">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"></path>
                            <path d="M10 9l5 3l-5 3z"></path>
                        </svg></a></li>
            </ul>
        </div>
    </footer>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-init.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="../assets/js/Animated-Type-Heading-type-headline.js"></script>
    <script src="../assets/js/baguetteBox.min.js"></script>
    <script src="../assets/js/Custom-Upload-File-upload_file.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="../assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20-Ludens---1-Index-Table-with-Search--Sort-Filters.js"></script>
    <script src="../assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20-Ludens---Material-UI-Actions.js"></script>
    <script src="../assets/js/Table-With-Search-search-table.js"></script>
    <script src="../assets/js/template.js"></script>
</body>

</html>